<ion-header>
  <ion-row>
    <ion-col text-start padding-top>
      <ion-title>Contenedores</ion-title>
    </ion-col>
    <ion-col text-end>
      <ion-button (click)="loadMap()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Ubicame
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col padding>
      <div class="map-wrapper">
        <div id="map_center">
          <img src="../../assets/img/marker.png" />
        </div>
        <div #map id="map"></div>
      </div>
      <div id="address">
        <span>{{address}}</span>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col padding>
      <small>Gracias por reciclar junto a nosotros, para poder transformar nuestra ciudad </small>

    </ion-col>
  </ion-row>

</ion-content>
