
<ion-content>
  <img src="/assets/img/logo-wamba.png" alt="Wamba Logo" width="250" style="display: block; margin: 30px auto 5px;" />

  <div class="centered">
    <h3>Hola usuario</h3>
  </div>
  <br>
  <br>
  <div class="centered">
    <h4>Para iniciar</h4>
    <p>Presiona el basurero segun el material a reciclar</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-25>
        <div class="">
          <img src="/assets/img/plastic.png">
        </div>
      </ion-col>
      <ion-col col-25>
        <div class="">
          <img src="/assets/img/paper.png">
        </div>
      </ion-col>
      <ion-col col-25>
        <div class="">
          <img src="/assets/img/glass.png">
        </div>
      </ion-col>
      <ion-col col-25>
        <div class="">
          <img src="/assets/img/metal.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
  -->
</ion-content>
