<ion-header>
  <ion-row>
    <ion-col text-start padding-top>
      <ion-title>Ingresar codigo</ion-title>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>

  <ion-grid>
  	<ion-row justify-content-center>
  		<ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
        <br>
        <div text-center>
  				<h2 class="slogan">
            w<span>a</span>mba
          </h2>
        </div>
        <form [formGroup]="contact_message" (ngSubmit)="ContactForm()">
          <ion-item>
            <ion-input type="text" formControlName="code" placeholder="CODIGO"></ion-input>
          </ion-item>

         </form>

  		</ion-col>
  	</ion-row>
  </ion-grid>

  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">

          <h4 class="modal-title">Información<br>enviada</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="text-align: center; border: none;">
          <h2>Has obtenido: <span style="color: green">24</span> puntos</h2>
          <img src="assets/img/ok.png" />
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>

      </div>
    </div>
  </div>


</ion-content>
