<ion-content>
  <div class="success-page">
    <img src="assets/img/error.png" />
    <h2>Ha ocurrido un error al enviar la información</h2>
  </div>
  <br>
  <br>
  <br>
  <hr>
  <button ion-button (click)="dismiss()" full clear color="dark">
    Aceptar
  </button>

</ion-content>
