.small-tabs {

  ion-tab-bar {
    height: 40px;//30px;
    display: block;
    justify-content: flex-end;
    //text-align: right;
    background: #26424c;
    color: #fff;

    .left-aligned {
      float: left;
      width: 100px;
      text-align: left;
      padding: 3px;
      font-weight: bold;
    }

    ion-tab-button {
      width: 50px;
      display: inline-block;
      background: #26424c;
      color: #fff;
    }


  }
  //height: 30px;
}

.clearfix {
  clear: both;
}
