<ion-tabs class="small-tabs">

  <ion-tab-bar slot="bottom">
    <!--
    <div class="left-aligned">
      &nbsp;Wamba
    </div>-->
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cash"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="trash"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="heart"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab6">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    <div class="clearfix">
      &nbsp;
    </div>
  </ion-tab-bar>

</ion-tabs>
