/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~bootstrap/dist/css/bootstrap.min.css';


@font-face {
   font-family: 'DubaiBold';
   src: url('src/assets/fonts/DubaiBold.ttf');
   font-weight: bold;
   font-style: normal;
 }

// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

$black: #353535;
$blue: #2b458b;
$blue-map: #0047aa;
$description-blue: #0047aa;
$gray: #808080;
$green: #6cbf00;
$line-blue: #1958b0;
$red: #d02533;
$yellow: #fdd228;
$white: #fefefe;

$tabs-md-tab-max-width:240px;
$tabs-md-tab-min-height: 30px;
$tabs-md-tab-font-size: 13px;
$tabs-md-tab-icon-size: 14px;

body,
.ion-app.md,
.ion-app.ios,
.ion-app.android {
  font-family: 'Montserrat', sans-serif !important;
}

.bar-button-default {
  color: $white;
}

.tab-button {

  .tab-button-text {
    font-size: 1.1rem;
  }
}

.swiper-slide {
  display: block;
  overflow-y: scroll;
}

.toolbar-title {
  color: $white;
  display: block;
  font-size: 1.8rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.item.item-block {
  padding-left: 0;
}

.bold {
  font-weight: bold;
}

ion-col {
  position: initial;
}

.slogan {
  font-family: 'DubaiBold', sans-serif;
  font-size: 5.5rem;
  line-height: 1;
  font-weight: bolder;
  color: #26434c;
  span {
    color: #a0be4a;
  }
}
